<!-- Footer -->
<div class="footer max-width-1 m-auto" style="background-color: #0E6655;" >
    <div class="block ">
        <p>&copy;2021-22 SSDI project 
        <a href="/about">  About</a>
        <a href="/contact">  Contact</a> 
        </p>
       
    </div>
    <div class="block shift-right"> 
    <img src="/Images/twitter.png" alt="twitter icon" >
    <img src="/Images/facebook.png" alt="facebook icon">

    </div>
</div>

</body>
</html>