<%-include('./partials/header.ejs')%>

<div class="container">
    <h1>Welcome to Student Discussion Forum</h1>
    <p>Creating a classroom community where meaningful conversations can happen</p>
    <p>Here you can create your own discussions, find people who are interested in your work, who can resolve issues, who are interested in 
        collaborating with you in your work/discussion.
    </p>
    <p>Students can browse for and participate in existing discussions or create their own. Once they've chosen a discussion, 
        students then choose their side -- pro or con --- and add their own opinions via "claims."</p>
        <div  >
            <img class='img' src="images/discussion.jpg" style="width:50% ;height:50%; align-self: center;" />
        </div>
</div>
