<%-include('../partials/header.ejs')%>
<div class="container">
    <div class="text-center">
        <h1 class="bg-secondary text-light">Forum</h1>
        <% if(user){ %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create New Post</button>
            <%-include('./new.ejs')%>
        <%}%>
    </div>
    <br>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <%if(posts.length>0){
                posts.forEach(post=>{ %>
                    <%-include('./posttile.ejs',{post})%>
                <%})%>
            <%}%>
        </div>
    </div>
    <p>Forum will be displayed here</p>
</div>
