<%-include('../partials/header.ejs')%>
<div class="card" style="width:400px; margin: 10px;">
    <% if(post.image){%>
        <img class="card-img-top" src="<%=post.image%>" alt="Card image" style="width:100%">
    <%}%>
    <div class="card-body">
      <h4 class="card-title"><%=post.title%></h4>
      <p class="card-text"><%=post.content%></p>
      <%if(user){%>
        <form method="post" action="/comment">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Add a Comment" name="comment">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Post Comment</button>
          </div>
        </div>
      </form>
      <%}%>
    </div>
  </div>
